!!! 5
html
	head
		title StatusApp Login
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		//script(type='text/javascript',src = '/socket.io/socket.io.js')
		script(type='text/javascript')
			/*io.connect().on('message', function ( count ) {
				alert(count);
			});*/
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1890531-10']);
			_gaq.push(['_setDomainName', 'statusapp']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			
			
			
	body
		block content
		block scripts
		
	footer.navbar.navbar-fixed-bottom
		div.navbar-inner
			div.footer-inner
				b 
				a(href='https://bitbucket.org/anish_patil/statusapp') Statusapp 
				b version 0.0.2.  Please 
				a(href='https://bitbucket.org/anish_patil/statusapp/issues/new') report 
				b feedback/issues in the 
				a(href='https://bitbucket.org/anish_patil/statusapp/issues?status=new&status=open') issue tracker.
				
