
#status
	form( method="post")#post-status-form.well.span4
			input(type="text", name="post-status", id='post-status-txt').span4.required
			button(type="submit")#btn-poststatus.btn.btn-primary
				//i.icon-lock.icon-white
				| Submit
